<% title "Campaign Characters" %>

<table>
  <tr>
    <th>Campaign Title</th>
    <th>Charcter Name</th>
    <th>Status</th>
    <th>Add On</th>
    <th>Actions/th>
  </tr>
  <% for cc in @campaign_characters %>
    <tr>
      <td><%= cc.campaign.title %></td>
      <td><%= cc.character.name %></td>
      <td><%= cc.status %></td>
      <td><%= cc.created_at %></td>
      <td>
        <%= link_to "Show", cc %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Campaign Character", new_campaign_character_path %></p>
