<% title "Charcter" %>

<%-if @charcter.image.present? %>
  <%= image_tag @charcter.image.file.url(:medium) %>
<%-end%>

<p>
  <strong>Charcter Name:</strong>
  <%= @charcter.name %>
</p>
<p>
  <strong>Bio:</strong>
  <%= @charcter.bio %>
</p>
<p>
  <strong>Status:</strong>
  <%= @charcter.status %>
</p>

<p>
  <%= link_to "Edit", edit_charcter_path(@charcter) %> |
  <%= link_to "Destroy", @charcter, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", charcters_path %>
</p>

<h2> Attachemnts </h2>
<ul>
  <%- @charcter.attachments.each do |attachment| %>
    <li><%= link_to attachment.title, attachment.resource.file.url %></li>
  <%- end %>
</ul>

<h2>Add Attachment</h2>
<% if (@possible_resources.count < 1)  %>
  <p>No resources are left to add to this page. Please visit the resource page at the following link and them come back and attach it.</p>
  <%= link_to "Create new resource", new_resource_path %>
<% else %>
  <%= form_for @new_attachment do |f| %>
    <%= f.hidden_field :attachable_id, value: @charcter.id %>
    <%= f.hidden_field :attachable_type, value: @charcter.class %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.collection_select :resource_id, @possible_resources, :id, :file_file_name, prompt: true %>
    <%= f.submit %>
  <%-end %>
<% end %>

