<% title @character_template.name %>

<section id="main">
  <div id="main_image">
    <%-if @character_template.image.present? %>
      <%= image_tag @character_template.image.file.url(:medium) %>
    <%-end%>
  </div>
  <div id="main_info">
    <p>
      <strong>Bio:</strong>
      <%= @character_template.bio %>
    </p>
    <p>
      <strong>Status:</strong>
      <%= @character_template.status %>
    </p>

    <p>
      <%= link_to "Edit", edit_character_template_path(@character_template) %> |
      <%= link_to "Destroy", @character_template, :confirm => 'Are you sure?', :method => :delete %> |
      <%= link_to "View All", character_templates_path %>
    </p>
  </div>
</section>

<section class="attachments">
  <h2> Attachemnts </h2>
  <ul>
    <%- @character_template.attachments.each do |attachment| %>
      <li><%= link_to attachment.title, attachment.resource.file.url %></li>
    <%- end %>
  </ul>
</section>

<% content_for :page_sidebar do %>
  <section class="add_item">
    <h2>Add Attachment</h2>
    <% if (@possible_resources.count < 1)  %>
      <p>No resources are left to add to this page. Please visit the resource page at the following link and them come back and attach it.</p>
      <%= link_to "Create new resource", new_resource_path %>
    <% else %>
      <%= form_for @new_attachment do |f| %>
        <%= f.hidden_field :attachable_id, value: @character_template.id %>
        <%= f.hidden_field :attachable_type, value: @character_template.class %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.collection_select :resource_id, @possible_resources, :id, :file_file_name, prompt: true %>
        <%= f.submit %>
      <%-end %>
    <% end %>
  </section>
<% end%>

