<% title @character_template.name %>
<% if can? :update, @character_template %>
  <% edit_text "Edit Character Template" %>
  <% edit_path edit_character_template_path(@character_template) %>
<%end%>

<section id="main">
  <div id="main_image">
    <%-if @character_template.image.present? %>
      <%= image_tag @character_template.image.file.url(:medium) %>
    <%-end%>
  </div>
  <div id="main_info">
    <p>
      <strong>Bio:</strong>
      <%= @character_template.bio %>
    </p>
    <p>
      <strong>Status:</strong>
      <%= @character_template.status %>
    </p
  </div>
</section>

<% unless @character_template.attachments.empty? && cannot?(:update, @character_template) %>
<section class="attachments">
  <div class="section_header">
    <h2> Attachemnts </h2>
    <% if can? :update, @character_template %>
      <%= content_tag :a, "Attach File", :href => "#testing", :class => 'btn add_action_link', :data => {:toggle => 'modal'} %>
    <%- end %>
  </div>
  <div class="section_content">
    <%= render partial: "attachments/attached", collection: @character_template.attachments, as: "attachment" %>
  </div>
</section>
<%end%>

<% if can? :update, @character_template %>
  <%= modal_dialog :id => "attach_to_character_template",
    :header => { :show_close => true, :dismiss => 'modal', :title => "Attach to #{@character_template.title} Template" },
    :body => render(partial: "attachments/attach", locals: {item: @character_template, attachment: Attachment.new}),
    :footer =>  content_tag(:button, 'Cancel', :class => 'btn btn-primary', :data => { :dismiss => 'modal' })
  %>
<%-end%>

