<% title @character_template.name %>
<% if can? :update, @character_template %>
  <% edit_text "Edit Character Template" %>
  <% edit_path edit_character_template_path(@character_template) %>
<%end%>

<section id="main">
  <div id="main_image">
    <%-if @character_template.image.present? %>
      <%= image_tag @character_template.image.file.url(:medium) %>
    <%-end%>
  </div>
  <div id="main_info">
    <p>
      <strong>Bio:</strong>
      <%= markdown(@character_template.bio) %>
    </p>
    <p>
      <strong>Status:</strong>
      <%= @character_template.status %>
    </p
  </div>
</section>

<% unless @character_template.attachments.empty? && cannot?(:update, @character_template) %>
<section class="attachments">
  <div class="section_header">
    <h2> Attachemnts </h2>
    <% if can? :update, @character_template %>
      <%= content_tag :a, "Attach File", :href => "#attach_to", :class => 'btn add_action_link', :data => {:toggle => 'modal'} %>
    <%- end %>
  </div>
  <div class="section_content">
    <%= render partial: "attachments/attached", collection: @character_template.attachments, as: "attachment" %>
  </div>
</section>
<%end%>

<% unless @character_template.attachments.empty? && cannot?(:update, @character_template) %>
  <%= atttachment_form(@character_template) -%>
<%- end %>
