= form_for attachment do |f|
  = f.label :title
  = f.text_field :title
  = f.label :resource
  = f.collection_select :resource_id, Resource.all, :id, :file_file_name, prompt: true
  = f.hidden_field :attachable_type, value: item.class
  = f.hidden_field :attachable_id, value: item.id
  = f.submit value: "Attach"
