%h2 Attach or Edit Attached File
- attachment = Attachment.new unless attachment.present?
= form_for attachment do |f|
  = f.label :title
  = f.text_field :title
  = f.label :resource
  = f.label :file
  = f.file_field :file
  = f.hidden_field :entity_type, value: item.class
  = f.hidden_field :entity_id, value: item.id
  = f.submit value: "Attach"

-unless attachment.new_record?
  = link_to 'Destroy', attachment,  method: :delete, data: { confirm: 'Are you sure?' }
