<%- event = @event if defined?(@event) %>
<%= form_for event do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :start_at %><br />
    <%= f.text_field :start_at, type: "datetime-local" %>
  </p>
  <p>
    <%= f.label :stop_at %><br />
    <%= f.text_field :stop_at, type: "datetime-local" %>
  </p>
  <p>
    <%= f.label :host_id %><br />
    <%= f.collection_select :host_id, User.confirmed, :id, :display_name, include_blank: "Please Select" , required: false%>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <%- if defined?(campaign) %>
    <%= f.hidden_field :campaign, value: campaign.id %>
  <%-end%>
  <p><%= f.submit %></p>
<% end %>
