.summary_box
  = "Name: #{player_character.title}"
  %br
  = "Class: #{player_character.caste}"
  %br
  = "Owner: #{player_character.user.display_name}"
  %br
  = link_to "View Full Character", player_character_path(player_character)
  %br
  = image_tag player_character.image.url(:small)
