<%- player_character = @player_character if (!defined?(player_character) || player_character.nil?) %>
<%= form_for player_character do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :class%><br />
    <%= f.text_field :caste %>
  </p>
  <p>
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </p>
  <p>
    <%= f.label :image -%>
    <%= f.file_field :image -%>
  </p>
  <p><%= f.submit %></p>
<%- end %>
<%- if player_character.new_record? %>
  <p>Once you create this character you will be able to go to resource and add images and documents. You will be abe to add thoes here in the future but it is a bit more complicated than expected. </p>
<%- end%>
