.summary_box
  = "Character Name: #{pc.name}"
  %br
  = "Player:  #{pc.player.display_name}"
  %br
  = "Class: #{pc.caste}"
  %br
  = "Status: #{pc.status}"
  %br
  = link_to "View Charcter Info", player_character_path(pc)
