.summary_box
  = "Character Name: #{pc.character_template.name}"
  %br
  = "Player:  #{pc.character_template.user.display_name}"
  %br
  = "Class: #{pc.character_template.caste}"
  %br
  = "Status: #{pc.status}"
  %br
  = link_to "View Charcter Info", player_character_path(pc)
