<% title @player_character.name %>
<% if can? :update, @player_character %>
  <% edit_text "Edit Character" %>
  <% edit_path edit_player_character_path(@player_character) %>
<%end%>

<section id="main">
  <div id="main_image">
    <%-if @player_character.image.present? %>
      <%= image_tag @player_character.image.url(:medium) %>
    <%-end%>
  </div>
  <div id="main_info">
    <p>
      <strong>Bio:</strong>
      <%= markdown(@player_character.bio) %>
    </p>
    <p>
      <strong>Status:</strong>
      <%= @player_character.status %>
    </p>
    <p>
      <strong>Current Campaign</strong>
      <%- if @player_character.current_campaign.present? %>
        <%= link_to @player_character.current_campaign.title, campaign_path(@player_character.current_campaign) %>
      <%-else %>
        Not currently part of a campaign
      <%-end%>
    </p>
  </div>
</section>

<% unless @player_character.attachments.empty? && cannot?(:update, @player_character) %>
<section class="attachments">
  <div class="section_header">
    <h2> Attachemnts </h2>
    <% if can? :update, @player_character%>
      <%= content_tag :a, "Attach File", :href => "#attach_to", :class => 'btn add_action_link', :data => {:toggle => 'modal'} %>
    <%- end %>
  </div>
  <div class="section_content">
    <%= render partial: "attachments/attached", collection: @player_character.attachments, as: "attachment", locals: {item: @player_character} %>
  </div>
</section>
<%end%>

<% unless @player_character.attachments.empty? && cannot?(:update, @player_character) %>
  <%= atttachment_form(@player_character) -%>
  <%- @player_character.attachments.each do |attach| -%>
    <%= atttachment_form(@player_character, attach)-%>
  <%-end-%>
<%- end %>

<section class="actions">
  <div class="section_header">
    <h2> Actions </h2>
  </div>
  <div class="section_content">
    <%= render partial: "player_characters/status_actions", locals: {player_character: @player_character} %>
  </div>
</section>

