<% title "Player Character" %>
<p>
  <strong>Campaign:</strong>
  <%= link_to @player_character.campaign.title, campaign_path(@player_character.campaign) %>
</p>

<p>
  <strong>Status:</strong>
  <%= link_to @player_character.character.name, character_path(@player_character.character) %>
</p>

<p>
<strong>Status:</strong>
  <%= @player_character.status%>
</p>

<p>
  <strong>Game:</strong>
  <%= link_to @player_character.campaign.game.title,  @player_character.campaign.game %>
</p>

<p>
  <strong>GM:</strong>
  <%= @player_character.campaign.gm.display_name %>
</p>


<p>
  <%= link_to "View All", campaigns_path %>
</p>

<%= render partial: "status_actions", :locals => {:pc => @player_character} %>
