<%= form_for @game do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.bootsy_area :description, editor_options: {image: false} %>
  </p>
  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>
  <%= f.file_field :image %>
  <p><%= f.submit %></p>
<% end %>
