<%= form_for @game do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
    </p>
    <p>You must create a resource to add and image to a game. This will be updated in the future so you can create both at the same time. I would suggest creating with out the an image to begin with and then updating the image after creating the resource.</p>
    <%= f.collection_select :image_id, Resource.all, :id, :file_file_name, :include_blank => true %>
  <p><%= f.submit %></p>
<% end %>
