<%= form_for @game do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.collection_select :image, @possible_images, :id, :file_file_name, prompt: true %>
    <%=  link_to("Current Image:", @game.image.file.url )if @game.image.present? %>
  </p>
  <p><%= f.submit %></p>
<% end %>
<%- if @game.new_record? %>
  <p>Once you create this game you will be able to go to resource and add images and documents. You will be abe to add thoes here in the future but it is a bit more complicated than expected. </p>
<%-else%>
<%-end%>


