<% title "Games" %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Link</th>
    <th>Actions</th>
  </tr>
  <% for game in @games %>
    <tr>
      <td><%= game.title %></td>
      <td><%= game.description.truncate(100) %></td>
      <td><%= game.link %></td>
      <td>
        <%= link_to "Show", game %>
         | 
        <%= link_to "Edit", edit_game_path(game) %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Game", new_game_path %></p>
