<% title @game.title %>
<% if can? :update, @game %>
  <% edit_text "Edit Game" %>
  <% edit_path edit_game_path(@game) %>
<%end%>

<section id="main">
  <div id="main_image">
    <%-if @game.image.present? %>
      <%= image_tag @game.image.file.url(:medium) %>
    <%-end%>
  </div>

  <div id="main_info">
    <p>
      <strong>Description:</strong>
      <%= @game.description %>
    </p>
    <p>
      <strong>Link:</strong>
      <%= @game.link %>
    </p>
  </div>
</section>
<% unless @game.attachments.empty? && cannot?(:update, @game) %>
<section class="attachments">
  <div class="section_header">
    <h2> Attachemnts </h2>
    <% if can? :update, @game %>
      <%= content_tag :a, "Attach File", :href => "#attach_to", :class => 'btn add_action_link', :data => {:toggle => 'modal'} %>
    <%- end %>
  </div>
  <div class="section_content">
    <%= render partial: "attachments/attached", collection: @game.attachments, as: "attachment" %>
  </div>
</section>
<%end%>
<% unless @game.attachments.empty? && cannot?(:update, @game) %>
  <%= atttachment_form(@game) -%>
<%- end %>
