<% title "Game" %>

<%-if @game.image.present? %>
  <%= image_tag @game.image.file.url(:medium) %>
<%-end%>

<p>
  <strong>Title:</strong>
  <span rv-text='game:title'></span>
</p>
<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>
<p>
  <strong>Link:</strong>
  <%= @game.link %>
</p>

<p>
  <%= link_to "Edit", edit_game_path(@game) %> |
  <%= link_to "Destroy", @game, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", games_path %>
  </p>

<script>
  var baked = {
    title: "<%= @game.title %>",
    link: "<%= @game.link %>",
    description: "<%= @game.description %>"
  }
</script>


<%- content_for :javascript do %>
  <%= javascript_include_tag('games_model.js') %>
<%- end %>


