<% title @game.title %>
<% if can? :update, @game %>
  <% edit_text "Edit Game" %>
  <% edit_path edit_game_path(@game) %>
<%end%>

<section id="main">
  <div id="main_image">
    <%-if @game.image.present? %>
      <%= image_tag @game.image.file.url(:medium) %>
    <%-end%>
  </div>

  <div id="main_info">
    <p>
      <strong>Description:</strong>
      <%= @game.description %>
    </p>
    <p>
      <strong>Link:</strong>
      <%= @game.link %>
    </p>
    <p><%= link_to "Edit", edit_game_path(@game) %></p>
  </div>
</section>
<section class="attachments">
  <div class="section_header">
    <h2> Attachemnts </h2>
    <% if can? :update, @game %>
      <%= content_tag :a, "Attach File", :href => "#testing", :class => 'btn add_action_link', :data => {:toggle => 'modal'} %>
    <%- end %>
  </div>
  <div class="section_content">
    <%= render partial: "attachments/attached", collection: @game.attachments, as: "attachment" %>
  </div>
</section>
<% if can? :update, @game %>
  <%= modal_dialog :id => "attach_to_game",
    :header => { :show_close => true, :dismiss => 'modal', :title => "Attach to #{@game.title}" },
    :body => render(partial: "attachments/attach", locals: {item: @game, attachment: Attachment.new}),
    :footer =>  content_tag(:button, 'Cancel', :class => 'btn btn-primary', :data => { :dismiss => 'modal' })
  %>
<%-end%>
