<%= form_for @character do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :class%><br />
    <%= f.text_field :caste %>
  </p>
  <p>
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.collection_select :image_id, @possible_images, :id, :file_file_name, include_blank: "Please Select" , required: false%>
    <%= link_to("Current Image: #{@character.image.file_file_name}", @character.image.file.url )if @character.image.present? %>
  </p>
  <p><%= f.submit %></p>
<% end %>
<%- if @character.new_record? %>
  <p>Once you create this character you will be able to go to resource and add images and documents. You will be abe to add thoes here in the future but it is a bit more complicated than expected. </p>
<%-else%>
<%-end%>
