<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign:</strong>
  <%= @player.campaign_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @player.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @player.status %>
</p>



<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
<h2>Button for Changing Status</h2>
<%if @player.status == "pending" && @player.user == current_user%>
  <%if @player.status_approver == current_user %>
    <p>Awaiting responce</p>
  <%else%>
    <%= form_for @player, url: accept_campaign_request_path do |f| %>
      <%= f.submit value: "Accept Request"  %>
    <%end%>
    <%= form_for @player, url: reject_campaign_request_path do |f| %>
      <%= f.submit value: "Reject Request"  %>
    <%end%>
  <%end%>
<%end%>

<%= render partial: "status_actions", :locals => {:player => @player} %>
