<% title "Campaigns" %>

<table>
  <tr>
    <th>Title</th>
    <th>Game</th>
    <th>Link</th>
    <th>Actions</th>
  </tr>
  <% for c in @campaigns %>
    <tr>
      <td><%= c.title.present? ? c.title : "Unknown" %></td>
      <td><%= c.game.present? ? c.game.title : "No Game Selected" %></td>
      <td><%= c.link.present? ? (link_to c.link, c.link) : "No Link" %> </td>
      <td>
        <%= link_to "Show", c %>
         | 
        <%= link_to "Edit", edit_campaign_path(c) %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Campaign", new_campaign_path %></p>
