<% title @campaign.title %>
<% if can? :update, @game %>
  <% edit_text "Edit Campaign" %>
  <% edit_path edit_campaign_path(@campaign) %>
<%end%>

<section id="main">
  <div id="main_image">
    <%-if @campaign.image.present? %>
      <%= image_tag @campaign.image.file.url(:medium) %>
    <%-end%>
  </div>
  <div id="main_info">
    <p>
      <strong>Description:</strong>
      <%= @campaign.description %>
    </p>

    <p>
    <strong>Intro:</strong>
      <%= @campaign.intro %>
    </p>

    <p>
      <strong>Link:</strong>
      <%= @campaign.link.present? ? @campaign.link : "No Link" %>
    </p>

    <p>
      <strong>Game:</strong>
      <%= @campaign.game.present? ? (link_to @campaign.game.title,  @campaign.game) : "No game selected"%>
    </p>
    <p>
      <strong>GM:</strong>
      <%= @campaign.gm.display_name %>
    </p>
  </div>
  <div class="actions">
    <%= link_to "Edit", edit_campaign_path(@campaign) %> 
  </div>
</section>

<section class="character">
  <div class="section_header">
    <h2>PCs</h2>
  </div>
  <div class="section_content">
    <%= render partial: "player_characters/pc", collection: @campaign.player_characters, as: "pc" %>
  </div>
</section>


<section class="attachments">
  <div class="section_header">
    <h2> Attachemnts </h2>
    <% if can? :update, @campaign %>
      <%= content_tag :a, "Attach File", :href => "#testing", :class => 'btn add_action_link', :data => {:toggle => 'modal'} %>
    <%- end %>
  </div>
  <div class="section_content">
    <%= render partial: "attachments/attached", collection: @campaign.attachments, as: "attachment" %>
  </div>
</section>

<section class="players">
  <h2>Players</h2>
  <%= render partial: "players/players", collection: @campaign.players, as: "player" %>
</section>


<% if can? :update, @campaign %>
  <%= modal_dialog :id => "testing",
    :header => { :show_close => true, :dismiss => 'modal', :title => "Attach to #{@campaign.title}" },
    :body => render(partial: "attachments/attach", locals: {item: @campaign, attachment: Attachment.new}),
    :footer =>  content_tag(:button, 'Cancel', :class => 'btn btn-primary', :data => { :dismiss => 'modal' })
  %>
<%-end%>




<section class="add">
  <%-##Add player is you are the GM%>
  <%if @campaign.gm == current_user%>
    <h2>Add Player</h2>
      <% if (@possible_players.count < 1)%>
        <p>No players are left to add to this page. Invite a user to this system and then invite to campaign.</p>
    <% else %>
      <%= form_for @new_player do |f| %>
        <%= f.hidden_field :campaign_id, value: @campaign.id %>
        <%= f.collection_select :user_id, @possible_players, :id, :email, prompt: true %>
        <%= f.submit %>
      <%-end %>
    <%end%>
  <%end%>
</section>

<section class="add">
  <%-##Add charcter if you are a player%>
  <%if user_is_active_player?(@campaign, current_user) %>
    <%- if @possible_players.exclude?(current_user)%>
      <h2>Add PC</h2>
      <% if @possible_characters.count < 1 %>
        <p> You have no charcters available. Create a character and then come back here to add it to campaign.</p>
      <% else %>
        <%= form_for @player_character do |f| %>
          <%= f.error_messages %>
          <p>
            <%= f.hidden_field :campaign_id, value: @campaign.id%>
          </p>
          <p>
            <%= f.label :character_templates %>
            <%= f.collection_select :character_template_id, @possible_characters , :id, :name, prompt: true %>
          </p>
          <p><%= f.submit %></p>
        <% end %>
      <% end %>
    <%end%>
  <%end%>
</section>
<section class="add">
  <%-##Request access%>
  <%- if @possible_players.include?(current_user) && current_user != @campaign.gm%>
    <h2>Add Player</h2>
    <% if @possible_players.count < 1 %>
      <p> Should never see this. </p>
    <%else%>
      <%= form_for @new_player do |f| %>
        <%= f.hidden_field :campaign_id, value: @campaign.id %>
        <%= f.hidden_field :user_id, value: current_user.id%>
        <%= f.submit value: "Request Access" %>
      <%end%>
    <%end%>
  <%end%>
</section>
