<% title @campaign.title %>

<section id="main">
  <div id="main_image">
    <%-if @campaign.image.present? %>
      <%= image_tag @campaign.image.file.url(:medium) %>
    <%-end%>
  </div>
  <div id="main_info">
    <p>
      <strong>Description:</strong>
      <%= @campaign.description %>
    </p>

    <p>
    <strong>Intro:</strong>
      <%= @campaign.intro %>
    </p>

    <p>
      <strong>Link:</strong>
      <%= @campaign.link %>
    </p>

    <p>
      <strong>Game:</strong>
      <%= link_to @campaign.game.title,  @campaign.game%>
    </p>


    <p>
      <%= link_to "Edit", edit_campaign_path(@campaign) %> |
      <%= link_to "Destroy", @campaign, :confirm => 'Are you sure?', :method => :delete %> |
      <%= link_to "View All", campaigns_path %>
    </p>
  </div>
</section>

<section class="attachments">
  <h2> Attachemnts </h2>
  <ul>
    <%- @campaign.attachments.each do |attachment| %>
      <li><%= link_to attachment.title, attachment.resource.file.url %></li>
    <%- end %>
  </ul>
</section>

<section class="players">
  <h3> Players</h3>
  <table>
    <tr>
      <th>Email</th>
      <th>Status</th>
      <th>Join Campaigned</th>
    </tr>
    <% @campaign.players.each do |player| %>
      <tr>
        <td><%=player.user.email%></td>
        <td><%=player.status%></td>
        <td><%=player.created_at%></td>
      </tr>
    <%end%>
  </table>
</section>

<section class="character">
  <h3> Player Charcters</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Race/Class</th>
      <th>Status</th>
      <th>Join Campaigned</th>
    </tr>
    <% @campaign.characters.each do |character| %>
      <tr>
        <td><%=character.name%></td>
        <td><%=character.caste%></td>
        <td><%=character.status%></td>
        <td><%=character.created_at%></td>
      </tr>
    <%end%>
  </table>
</section>


<% content_for :page_sidebar do %>
  <section class="add">
    <h2>Add Attachment</h2>
    <% if (@possible_resources.count < 1)  %>
      <p>No resources are left to add to this page. Please visit the resource page at the following link and them come back and attach it.</p>
      <%= link_to "Create new resource", new_resource_path %>
    <% else %>
      <%= form_for @new_attachment do |f| %>
        <%= f.hidden_field :attachable_id, value: @campaign.id %>
        <%= f.hidden_field :attachable_type, value: @campaign.class %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.collection_select :resource_id, @possible_resources, :id, :file_file_name, prompt: true %>
        <%= f.submit %>
      <%-end %>
    <% end %>
  </section>

  <section class="add">
    <%-##Add player is you are the GM%>
    <%if @campaign.gm == current_user%>
      <h2>Add Player</h2>
        <% if (@possible_players.count < 1)%>
          <p>No players are left to add to this page. Invite a user to this system and then invite to campaign.</p>
      <% else %>
        <%= form_for @new_player do |f| %>
          <%= f.hidden_field :campaign_id, value: @campaign.id %>
          <%= f.collection_select :user_id, @possible_players, :id, :email, prompt: true %>
          <%= f.submit %>
        <%-end %>
      <%end%>
    <%end%>
  </section>

  <section class="add">
    <%-##Add charcter if you are a player%>
    <%if @campaign.gm != current_user%>
      <%- if @possible_players.exclude?(current_user)%>
        <h2>Add PC</h2>
        <% if @possible_characters.count < 1 %>
          <p> You have no charcters available. Create a character and then come back here to add it to campaign.</p>
        <% else %>
          <%= form_for @campaign_character do |f| %>
            <%= f.error_messages %>
            <p>
              <%= f.hidden_field :campaign_id, value: @campaign.id%>
            </p>
            <p>
              <%= f.label :characters %>
              <%= f.collection_select :character_id, @possible_characters , :id, :name, prompt: true %>
            </p>
            <p><%= f.submit %></p>
          <% end %>
        <% end %>
      <%end%>
    <%end%>
  </section>
  <section class="add">
    <%-##Request access%>
    <%- if @possible_players.include?(current_user)%>
      <h2>Add Player</h2>
      <% if @possible_characters.count < 1 %>
        <p> You have no more charcter to add. Please create a charcter and then come back to add it </p>
      <%else%>
        <%= form_for @new_player do |f| %>
          <%= f.hidden_field :campaign_id, value: @campaign.id %>
          <%= f.hidden_field :user_id, value: current_user.id%>
          <%= f.submit value: "Request Access" %>
        <%end%>
      <%end%>
    <%end%>
  </section>
<%end%>
