<% title @campaign.title %>
<% if can? :update, @campaign %>
  <% edit_text "Edit Campaign" %>
  <% edit_path edit_campaign_path(@campaign) %>
<%end%>

<section id="main">
  <div id="main_image">
    <%-if @campaign.image.present? %>
      <%= image_tag @campaign.image.file.url(:medium) %>
    <%-end%>
  </div>
  <div id="main_info">
    <p>
      <strong>Description:</strong>
      <%= markdown(@campaign.description) %>
    </p>

    <p>
    <strong>Intro:</strong>
      <%= markdown(@campaign.intro) %>
    </p>

    <p>
      <strong>Link:</strong>
      <%= @campaign.link.present? ? @campaign.link : "No Link" %>
    </p>

    <p>
      <strong>Game:</strong>
      <%= @campaign.game.present? ? (link_to @campaign.game.title,  @campaign.game) : "No game selected"%>
    </p>
    <p>
      <strong>GM:</strong>
      <%= @campaign.gm.display_name %>
    </p>
  </div>
</section>

<% unless @campaign.player_characters.empty? && !defined?(@current_player)%>
<section class="character">
  <div class="section_header">
    <h2>PCs</h2>
    <% if user_is_active_player?(@campaign, current_user)%>
      <%= content_tag :a, "Add Player Character", :href => "#add_player_character", :class => 'btn add_action_link', :data => {:toggle => 'modal'} %>
    <% end %>
  </div>
  <div class="section_content">
    <%= render partial: "player_characters/pc", collection: @campaign.player_characters, as: "pc" %>
  </div>
</section>
<%end%>

<% unless @campaign.attachments.empty? && cannot?(:update, @campaign) %>
<section class="attachments">
  <div class="section_header">
    <h2> Attachemnts </h2>
    <% if can? :update, @campaign %>
      <%= content_tag :a, "Attach File", :href => "#attach_to", :class => 'btn add_action_link', :data => {:toggle => 'modal'} %>
    <%- end %>
  </div>
  <div class="section_content">
    <%= render partial: "attachments/attached", collection: @campaign.attachments, as: "attachment" %>
  </div>
</section>
<%end%>

<% unless @campaign.players.empty? && !current_user.present? %>
  <section class="players">
    <div class="section_header">
      <h2>Players</h2>
      <%- if @campaign.gm == current_user && @possible_players.count > 0 %>
        <%= content_tag :a, "Invite Player", :href => "#add_player", :class => 'btn add_action_link', :data => {:toggle => 'modal'} %>
      <%end%>
      <%-##Request access%>
      <%- if @possible_players.include?(current_user) && current_user != @campaign.gm%>
        <%- if @possible_players.count < 1 %>
          <p> Should never see this. </p>
        <%else%>
          <%= form_for @new_player  do |f| %>
            <%= f.hidden_field :campaign_id, value: @campaign.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.submit value: "Request Access", class: "btn add_action_link" %>
          <%end%>
        <%end%>
      <%end%>
    </div>
    <div class="section_content">
      <%= render partial: "players/player_summary_box", collection: @campaign.players, as: "player" %>
    </div>
  </section>
<%end%>

<% unless @campaign.attachments.empty? && cannot?(:update, @campaign) %>
  <%= atttachment_form(@campaign) -%>
<%- end %>

<% if current_user == @campaign.gm %>
  <%= modal_dialog :id => "add_player",
    :header => { :show_close => true, :dismiss => 'modal', :title => "Add player to #{@campaign.title}" },
    :body => render(partial: "add_player_form", locals: {item: @campaign, player: Player.new, possible_players: @possible_players}),
    :footer =>  content_tag(:button, 'Cancel', :class => 'btn btn-primary', :data => { :dismiss => 'modal' })
  %>
<%-end%>

<% if defined?(@current_player) %>
  <%= modal_dialog :id => "add_player_character",
    :header => { :show_close => true, :dismiss => 'modal', :title => "Add Player Character to #{@campaign.title}" },
    :body => render(partial: "player_characters/form", locals: {campaign_id: @campaign.id, player_character: PlayerCharacter.new, player_id: @current_player.id}),
    :footer =>  content_tag(:button, 'Cancel', :class => 'btn btn-primary', :data => { :dismiss => 'modal' })
  %>
<%-end%>
